---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { aboutPageContent, musicPlaylist } from "../config";
import ResumeItem from "../components/ResumeItem.astro";
import SocialLinkBox from "../components/SocialLinkBox.astro";
import { Icon } from "astro-icon/components";
---

<Layout seo={aboutPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="text-2xl mb-1">About</h1>
    <p class="opacity-60 mb-10 subtitle">{aboutPageContent.subtitle}</p>
    <div class="mb-14">
      <p class="mb-5 sm:text-left">
        Hello, I'm a Software Engineer Leader who has a passion for technology as well as helping people. 
      
      </p>
    </div>
   
  </section>


</Layout>

