---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { aboutPageContent, musicPlaylist } from "../config";
import ResumeItem from "../components/ResumeItem.astro";
import SocialLinkBox from "../components/SocialLinkBox.astro";
import { Icon } from "astro-icon/components";
---

<Layout seo={aboutPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="text-2xl mb-1">Work History</h1>
    <p class="opacity-60 mb-10 subtitle">Sr Engineering Manager - Workday</p>
    <p class="mb-5 sm:text-left">Directed operations of a Software Development organization with 3 Scrum teams and a total of 16 Software Developers + 1 Manager </p>
    <p class="mb-5 sm:text-left">Collaborated with Product Management and Design teams to deliver features balancing business needs, as well as the ability to deliver the features on time</p>
    <p class="mb-5 sm:text-left">Drove team expansion by recruiting, interviewing, mentoring, and onboarding 6 team members, thereby facilitating on-time and on-budget project deliveries</p>
    <p class="opacity-60 mb-10 subtitle">Sr Software Developer - Workday</p>
    <p class="mb-5 sm:text-left">Pioneered the initial development of academic advising tools for Workday Student, streamlining the advising process for over 20 universities </p>
    <p class="mb-5 sm:text-left">Orchestrated Sprint planning and reviews as Scrum Master while utilizing Jira and Confluence to maintain project schedules and proactively eliminate development roadblocks </p>

    <p class="opacity-60 mb-10 subtitle">Various Roles - Intel Corporation</p>
    <p class="mb-5 sm:text-left">Evolved from Software Developer to Database Administrator to Source Control Administrator </p>
   
  </section>


</Layout>

